local_backend: true  # Configure your backend and remove this

backend:
  name: git-gateway
  branch: production
  commit_messages:
    create: "docs(posts): create {{collection}} '{{slug}}'"
    update: "docs(posts): update {{collection}} '{{slug}}'"
    delete: "docs(posts): delete {{collection}} '{{slug}}'"
    uploadMedia: "docs(media): upload '{{path}}'"
    deleteMedia: "docs(media): delete '{{path}}'"
    openAuthoring: '{{message}}'

site_url: https://maplewrt.com

locale: 'zh_Hans'

media_folder: "src/static" # Folder where user uploaded files should go

slug:
  encoding: "ascii"
  clean_accents: true

collections: # A list of collections the CMS should be able to edit
  - name: "note" # Used in routes, ie.: /admin/collections/:slug/edit
    label: "文记" # Used in the UI, ie.: "New Post"
    folder: "src/content/note" # The path to the folder where the documents are stored
    path: "{{filename}}/index" # Each document is inside a folder with the slug name.
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - {label: "文件名", name: "filename", widget: "string", pattern: ['^[\w\d_-]+$', "filename"]}
      - {label: "标题", name: "title", widget: "string"}
      - {label: "日期", name: "timestamp", widget: "datetime", default: '{{now}}', format: "YYYY-MM-DD"}
      - {label: "简介", name: "description", widget: "text"}
      - {label: "作为草稿", name: "draft", widget: "boolean", required: false, default: false}
      - {label: "系列", name: "series", widget: "string", required: false}
      - {label: "标签", name: "tags", widget: "list", collapsed: true}
      - {label: "显示目录", name: "toc", widget: "boolean", required: false, default: true}
      - {label: "显示阅读警告", name: "sensitive", widget: "boolean", required: false, default: false}
      - {label: "置顶级别", name: "top", widget: "number", required: false, default: 0, min: 0, value_type: "int"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "jotting"
    label: "随笔"
    folder: "src/content/jotting"
    path: "{{filename}}/index"
    create: true
    fields:
      - {label: "文件名", name: "filename", widget: "string", pattern: ['^[\w\d_-]+$', "filename"]}
      - {label: "标题", name: "title", widget: "string"}
      - {label: "日期", name: "timestamp", widget: "datetime", default: '{{now}}', format: "YYYY-MM-DD"}
      - {label: "简介", name: "description", widget: "text"}
      - {label: "作为草稿", name: "draft", widget: "boolean", required: false, default: false}
      - {label: "标签", name: "tags", widget: "list", collapsed: true}
      - {label: "显示阅读警告", name: "sensitive", widget: "boolean", required: false, default: false}
      - {label: "置顶级别", name: "top", widget: "number", required: false, default: 0, min: 0, value_type: "int"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "knowledge"
    label: "阅读"
    folder: "src/content/knowledge"
    path: "{{filename}}/index"
    create: true
    fields:
      - {label: "文件名", name: "filename", widget: "string", pattern: ['^[\w\d_-]+$', "filename"]}
      - {label: "书名", name: "title", widget: "string"}
      - {label: "作者", name: "author", widget: "string"}
      - {label: "封面", name: "cover", widget: "image", required: false, allow_multiple: false, choose_url: true}
      - {label: "类别", name: "type", widget: "select", options: [{label: "书", value: "book"}, {label: "视频", value: "video"}, {label: "课程", value: "course"}]}
      - {label: "状态", name: "status", widget: "select", options: [{label: "待阅读", value: "todo"}, {label: "阅读中", value: "inProgress"}, {label: "已读完", value: "done"}]}
      - label: "时间戳"
        name: "dates"
        widget: "object"
        summary: '{{fields.start}} | {{fields.finish}} | Updated: {{fields.lastEdited}}'
        fields:
          - {label: "开始日期", name: "start", widget: "datetime", required: false, format: "YYYY-MM-DD"}
          - {label: "完结日期", name: "finish", widget: "datetime", required: false, format: "YYYY-MM-DD"}
          - {label: "编辑日期", name: "lastEdited", widget: "datetime", required: false, default: '{{now}}', format: "YYYY-MM-DD"}
      - {label: "简介", name: "description", widget: "text"}
      - {label: "总页数", name: "totalPages", widget: "number", required: false, default: 1, min: 1, value_type: "int"}
      - {label: "当前页数", name: "currentPage", widget: "number", required: false, default: 0, min: 0, value_type: "int"}
      - {label: "在文记中显示", name: "showAsNote", widget: "boolean", required: false, default: false}
      - {label: "作为草稿", name: "draft", widget: "boolean", required: false, default: false}
      - {label: "标签", name: "tags", widget: "list", collapsed: true}
      - {label: "显示目录", name: "toc", widget: "boolean", required: false, default: true}
      - {label: "显示阅读警告", name: "sensitive", widget: "boolean", required: false, default: false}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "preface"
    label: "序言"
    folder: "src/content/preface"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{hour}}-{{minute}}-{{second}}"
    identifier_field: timestamp
    fields:
      - {label: "日期", name: "timestamp", widget: "datetime", default: '{{now}}', format: "YYYY-MM-DD"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "information"
    label: "简介"
    delete: false
    files:
      - file: "src/content/information/introduction.md"
        label: "简介正文"
        name: "introduction"
        fields:
          - {label: "Body", name: "body", widget: "markdown"}
      # - file: "src/content/information/chronicle.yaml"
      #   label: "时间表"
      #   name: "chronicle"
      #   format: "yaml"
      #   extension: "yaml"
      # - file: "src/content/information/linkroll.mdx"
      #   label: "链接"
      #   name: "linkroll"
      #   format: "frontmatter"
      #   extension: "mdx"
      #   fields:
      #     - {label: "Body", name: "body", widget: "markdown"}
